@{
    ViewBag.Title = "首页";
    Layout = null;
    var loginUser = (User)ViewBag.LoginUser;
}
@model List<Club.Models.ListPostModel>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>6789俱乐部</title>
    <meta name="keywords" content="BBS,社区">
    <meta name="description" content="------------这里是6789的描述----------------。">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="/Assets/images/favicon.ico" mce_href="/app/views/img/favicon.ico" type="image/x-icon">
    <link href="/Assets/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/Assets/Plugs/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/Assets/styles/jquery.fancybox.css-v=2.1.5.css" rel="stylesheet">
    <link href="/Assets/styles/animate.css" rel="stylesheet">
    <link href="/Assets/styles/base.css-v=2.2.0.css" rel="stylesheet">
    <link href="/Assets/styles/style.css" rel="stylesheet">
    <script src="/Assets/scripts/jquery.min.js"></script>
    <script src="/Assets/Plugs/layer/layer.js" type="text/javascript"></script>
</head>
<body>
    <img src="/Assets/images/loading1.png" style="display: none" />
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 text-navy " style="font-size: 20px;"
                           href="/">6789Club</a>
                        <div role="search" class="navbar-form-custom" action="">
                            <div class="form-group">
                                <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search"
                                       id="top-search">
                            </div>
                        </div>
                    </div>
                    @{
                        if (loginUser != null)
                        {
                            <ul class="nav navbar-top-links navbar-right pull-right count-info">
                                <li>
                                    <a href="/User" title="@loginUser.Name" style="padding: 15px 5px; line-height: 30px;">
                                        <img alt="image" id="my-avatar" class="img-circle profile-small-avatar" src="/Assets/images/logo.png">
                                        <span class="mobile-hide">@loginUser.Name</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-toggle" href="/Notice"><i class="fa fa-bell-o header-ico"></i></a>
                                </li>
                                <li>
                                    <a href="/user/login">
                                        <i class="fa fa-sign-out header-ico" >
                                        </i>
                                    </a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="nav navbar-top-links navbar-right pull-right count-info">
                                <li>

                                    <div class="user-login">
                                        <a class="btn btn-primary btn-xs" href="/user/login">
                                            登录
                                        </a>

                                    </div>
                                </li>
                            </ul>

                        }
                    }


                </nav>
            </div>

            <div class="row wrapper border-bottom navy-bg page-heading">
                <div class="col-lg-12">
                    <ol class="breadcrumb"></ol>
                </div>
            </div>
            <div class="wrapper wrapper-content">
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md navy-bg" style="border-radius: 50%;">
                            <img src="/Assets/images/logo.png" alt="" width="60">
                        </div>
                        <h2>
                            6789俱乐部·因趣而生
                        </h2>
                        <span>定期为有相同兴趣的人提供活动，励志做常州最好玩的俱乐部，加入6789俱乐部，我们带你吃喝玩乐玩转生活，趣味无穷。</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="ibox float-e-margins">
                            <div id="sort" class="ibox-title fc">
                                <span class="fc-button sort-choice" data-sort="最新回复">最新回复</span>
                                <span class="fc-button sort-choice" data-sort="最新发表">最新发表</span>
                                <span class="fc-button sort-choice" data-sort="只看精华">只看精华</span>
                                <a class="doPublishTopic btn btn-primary pull-right hidden-md hidden-lg" onclick="$('body').animate({scrollTop: ($('.profile-content').offset().top)})"
                                   style="margin-right: 5px"><i class="fa fa-th-large"></i></a>
                                <div class="clearfix">
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#sort [data-sort],#sidebar [data-type]').click(function () {
                                        pfh = $(this).html();
                                        $(this).html('<i class="fa fa-spinner fa-spin"></i>加载中');

                                        if ($(this).attr('data-sort')) {
                                            $(this).addClass('fc-state-active').siblings().removeClass('fc-state-active');
                                        } else {
                                            $(this).addClass('btn-primary').removeClass('btn-white').siblings('a').removeClass('btn-primary').addClass('btn-white');
                                        }

                                        nts = $(this);
                                        type = $('#sidebar .btn-block.btn-primary').attr('data-type');
                                        sort = $('#sort .fc-state-active').attr('data-sort');
                                        isScroll = $(this).attr('data-type');

                                        setTimeout(pf, 0);
                                    });
                                });

                                var pfh;
                                var nts;
                                var isScroll = true;
                                var type = '';
                                var sort = '';
                                function pf(page) {
                                    $.get('/TopicList?page=' + page, { type: type, sort: sort }, function (rt) {
                                        $('#topic-list .feed-activity-list').html(rt);
                                        if (nts) { nts.html(pfh); nts = null; }

                                        if (isScroll) {
                                            $('body').animate({
                                                scrollTop: ($('#sort').offset().top - 20)
                                            });
                                        }
                                        isScroll = true;
                                    });
                                }
                            </script>
                            <div id="topic-list" class="ibox-content" style="border-top: none;">
                                <div class="feed-activity-list">
                                <style>
                                    .media-body:hover {
                                        cursor: pointer;
                                        background-color: #fffbf6;
                                    }

                                    .topic-status {
                                        border: 0 none;
                                        color: #257494;
                                    }

                                    .topic-status .c-ico {
                                        color: #257494;
                                    }

                                    .topic-status .c-num {
                                        color: #257494;
                                    }

                                    .topic-views {
                                        width: 40px;
                                        height: auto;
                                        border-radius: 3px;
                                        text-align: center;
                                        margin-left: 5px;
                                    }

                                    .topic-views .c-ico {
                                        height: 20px;
                                        color: #999;
                                    }

                                    .topic-views i {
                                        display: inline-block;
                                        position: relative;
                                        top: -2px;
                                        font-size: 19px;
                                    }

                                    .topic-views .c-num {
                                        color: #999;
                                    }

                                    .topic-info b {
                                        color: #ed5565;
                                    }
                                </style>
                                    @{
                                        foreach (var item in Model)
                                        {
                                            <div class="feed-element">
                                                <a class="pull-left" href="User/803.htm" >
                                                    <img class="topic-avatar" src="/Assets/images/logo.png"
                                                          style="display: inline;">
                                                </a>
                                                <div class="media-body " onclick="">
                                                    <div class="topic-status pull-right hidden-xs hidden-sm">
                                                        <div class="c-ico">
                                                            <i class="fa fa-commenting"></i>
                                                        </div>
                                                        <div class="c-num">
                                                            @item.ReplyCount
                                                        </div>
                                                    </div>
                                                    <div class="topic-views pull-right hidden-xs hidden-sm">
                                                        <div class="c-ico">
                                                            <i class="iconfont icon-iconview"></i>
                                                        </div>
                                                        <div class="c-num">
                                                            @item.ViewCount
                                                        </div>
                                                    </div>
                                                    <strong>
                                                        <a class="topic-title">
                                                            <span>@item.Title</span>
                                                        </a>
                                                    </strong>
                                                    <p class="topic-info">
                                                        <small class="text-muted">
                                                            <span class="topic-username">@item.UserName</span>
                                                           @item.CreateTime
                                                        </small> <small class="text-muted pull-right hidden-md hidden-lg"
                                                                        style="margin-left: 10px; min-width: 60px;">
                                                            <i class="fa fa-commenting"></i>&nbsp;@item.ViewCount
                                                            / @item.ReplyCount
                                                        </small>
                                                    </p>
                                                </div>
                                            </div>

                                        }
                                    }
                                 
                                    
                                    <div class="pages">
                                        <ul>
                                            <li><a class=pages_on )>1</a></li>
                                            <li><a onclick=pf(2)>2</a></li>
                                            <li><a onclick=pf(3)>3</a></li>
                                            <li><a onclick=pf(4)>4</a></li>
                                            <li><a onclick=pf(5)>5</a></li>
                                            <li><a onclick=pf(6)>6</a></li>
                                            <li><a onclick=pf(7)>7</a></li>
                                            <li><a onclick=pf(8)>8</a></li>
                                            <li><a onclick=pf(2) title='下一页'>></a></li>
                                            <li><a onclick=pf(28) title='最后页'>>></a></li>
                                            <script>_itemCount = 544;</script>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sidebar" class="col-md-4">
                        <div class="panel blank-panel">
                            <div class="ibox-content profile-content">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content mailbox-content">
                                        <div class="clubs">
                                            <div class="row">
                                                <div class="col-md-6" style="width: 50%; float: left;">
                                                    <a href="/post/new" class="btn btn-success"  style="width: 100%">
                                                        <i class="fa fa-pencil"></i>&nbsp;发 帖
                                                    </a>
                                                </div>
                                                <div class="col-md-6" style="width: 50%; float: left;">
                                                    <a class="do-contriute btn btn-success" onclick="layer.alert('这个还没想好要做什么...')" style="width: 100%">
                                                        <i class="fa fa-envelope-o"></i>&nbsp;投 稿
                                                    </a>
                                                </div>
                                                <div class="clear clearfix">
                                                </div>
                                            </div>
                                            <div class="space-25">
                                            </div>
                                            <a class="btn btn-block btn-white" data-type="0">全部</a>
                                            <a class="btn btn-block btn-white" data-type="2">亲子帮</a>
                                            <a class="btn btn-block btn-white" data-type="3">摄影帮</a>
                                            <a class="btn btn-block btn-white" data-type="5">龙城茶座</a>
                                            <a class="btn btn-block btn-white" data-type="7">站务管理</a>
                                            <div class="space-25">
                                            </div>
                                            <h5 class="statistics-title">
                                                # 本站统计
                                            </h5>
                                            <div class="row statistics">
                                                <div class="col-md-4" style="width: 33.3%; float: left;">
                                                    <img src="/Assets/images/会员.png" tppabs="http://bbs.bangke.com/app/views/img/会员.png" width="30px" />
                                                    <h5>
                                                        <strong>799</strong><br />
                                                        会员
                                                    </h5>
                                                </div>
                                                <div class="col-md-4" style="width: 33.3%; float: left;">
                                                    <img src="/Assets/images/帖子.png" tppabs="http://bbs.bangke.com/app/views/img/帖子.png" width="30px" />
                                                    <h5>
                                                        <strong>578</strong><br />
                                                        帖子
                                                    </h5>
                                                </div>
                                                <div class="col-md-4" style="width: 33.3%; float: left;">
                                                    <img src="/Assets/images/精华.png" tppabs="http://bbs.bangke.com/app/views/img/精华.png" width="30px" />
                                                    <h5>
                                                        <strong>17</strong><br />
                                                        精华
                                                    </h5>
                                                </div>
                                                <div class="clear clearfix">
                                                </div>
                                            </div>

                                            <div class="clearfix">
                                            </div>
                                            <br />
                                            <h5 class="statistics-title">
                                                # 本站邻居
                                            </h5>
                                            <ul class="tag-list" style="padding: 0">
                                                <li>
                                                    <a href="javascript:if(confirm('http://bbs.hualongxiang.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://bbs.hualongxiang.com/'" tppabs="http://bbs.hualongxiang.com/" target="_blank">化龙巷</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:if(confirm('http://www.taocz.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.taocz.com/'" tppabs="http://www.taocz.com/" target="_blank">淘常州</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:if(confirm('http://www.zhong5.cn/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.zhong5.cn/'" tppabs="http://www.zhong5.cn/" target="_blank">中吴网</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:if(confirm('http://www.cz001.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.cz001.com/'" tppabs="http://www.cz001.com/" target="_blank">常州网</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:if(confirm('http://www.aliyun.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.aliyun.com/'" tppabs="http://www.aliyun.com/" target="_blank">阿里云</a>
                                                </li>
                                            </ul>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>

                function showYm()
                {
                    var $rym = $('#rym');
                    var aii;
                    var fi = 0;
                    $rym.animate({
                        right:'20vw',
                    }, {
                        easing:'easeOutBounce',
                        complete:function(){
                            $rym.css('transition','all 0.1s ease-in-out');
                            aii = setInterval(function(){
                                fi++;
                                if(fi == 1)
                                {
                                    $rym.css('transform','scale(0.8,0.8)');
                                }
                                else if (fi == 2)
                                {
                                    $rym.css('transform','scale(1.2,1.2)');
                                }
                                else if (fi == 3 || fi == 5 || fi == 7 || fi == 9)
                                {
                                    $rym.css('transform','scale(1.2,1.2) rotate(-20deg)');
                                }
                                else if (fi == 4 || fi == 6 || fi == 8 || fi == 10)
                                {
                                    $rym.css('transform','scale(1.2,1.2) rotate(20deg)');
                                }
                                else if (fi == 11)
                                {
                                    $rym.css('transform','scale(1,1)');
                                }
                                else if (fi == 18)
                                {
                                    fi = 0;
                                }
                            },100)
                        }
                    });

                    $rym.click(function(){
                        clearInterval(aii);
                        $rym.css('transform','scale(1,1)');
                        $rym.css('transition','all 1s ease-in-out');
                        $rym.css('margin','-20px');
                        $rym.css('transform','rotate(180deg) scale(20,20)');
                        $rym.css('right','50vw');
                        $rym.css('top','50%');
                        $rym.css('opacity',0);

                        //ajax请求服务端


                        setTimeout(function(){
                            layer.msg('薅了一把羊毛~ 卖了<a>22</a>金币~ <br/>噢~我可怜的小羊~毛都被薅完了~', { time:5000 });
                        },800);
                        setTimeout(function(){
                            $rym.remove();
                        },1000);
                    });
                }

                setTimeout(function(){showYm()},2000);
            </script>

            <div class="footer">
                <div class="pull-right mobile-hide">
                    苏ICP备13055054号-2.
                </div>
                <div>
                    Copyright &copy; 2016 江苏嬉戏谷科技有限公司
                </div>
            </div>
        </div>
    </div>
    <script src="/Assets/scripts/bootstrap.min.js" tppabs="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
